/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.things3-today-content {
    padding-top: 2rem
}

.things3-today-header {
    font-weight: bold;
    border-bottom: 1px solid var(--background-modifier-border);
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;
    padding-bottom: 0.25rem
}

.things3-today-list {
    display: grid;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 2rem
}

.things3-today-list-item {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.things3-today-list-tag {
    font-size: var(--font-ui-smaller);
    color: var(--text-faint);
}